In [85]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [86]:
atm_data = pd.read_csv('../data/Group2-ATM.csv', index_col=0).reset_index(drop=True)
atm_info = pd.read_csv('../data/Group2-ATM-Info.csv', index_col=0).drop(11)  # 有重复行 -- 柜员号9049

atm_data

              日期   柜员号    尾箱余额
0     2016-02-01  9012     600
1     2016-02-02  9012  504000
2     2016-02-03  9012  467300
3     2016-02-04  9012  382200
4     2016-02-05  9012  298700
...          ...   ...     ...
5995  2017-03-02  9490  163300
5996  2017-03-03  9490  215500
5997  2017-03-04  9490  241100
5998  2017-03-05  9490  266400
5999  2017-03-06  9490  244300

[6000 rows x 3 columns]

In [87]:
atm_info

     柜员号 在/离行 是否开启循环
0   9012   在行      是
1   9003   在行      是
2   9049   离行      是
3   9025   离行      否
4   9053   离行      否
5   9077   离行      否
6   9207   在行      是
7   9200   在行      是
8   9164   在行      是
9   9008   离行      否
10  9039   离行      否
12  9622   离行      是
13  9472   在行      是
14  9490   在行      是

In [88]:
data = pd.merge(atm_data, atm_info, how='left', on='柜员号')
data

              日期   柜员号    尾箱余额 在/离行 是否开启循环
0     2016-02-01  9012     600   在行      是
1     2016-02-02  9012  504000   在行      是
2     2016-02-03  9012  467300   在行      是
3     2016-02-04  9012  382200   在行      是
4     2016-02-05  9012  298700   在行      是
...          ...   ...     ...  ...    ...
5995  2017-03-02  9490  163300   在行      是
5996  2017-03-03  9490  215500   在行      是
5997  2017-03-04  9490  241100   在行      是
5998  2017-03-05  9490  266400   在行      是
5999  2017-03-06  9490  244300   在行      是

[6000 rows x 5 columns]

In [89]:
data.groupby('柜员号').count()['日期']

柜员号
9003    400
9008    400
9012    400
9025    400
9039    400
9049    800
9053    400
9077    400
9164    400
9200    400
9207    400
9472    400
9490    400
9622    400
Name: 日期, dtype: int64

In [90]:
data[data['柜员号'] == 9049].groupby('日期').count()

            柜员号  尾箱余额  在/离行  是否开启循环
日期
2016-02-01    2     2     2       2
2016-02-02    2     2     2       2
2016-02-03    2     2     2       2
2016-02-04    2     2     2       2
2016-02-05    2     2     2       2
...         ...   ...   ...     ...
2017-03-02    2     2     2       2
2017-03-03    2     2     2       2
2017-03-04    2     2     2       2
2017-03-05    2     2     2       2
2017-03-06    2     2     2       2

[400 rows x 4 columns]

In [91]:
_ = data.groupby('日期').count()['柜员号']
_[_ == 15]

日期
2016-04-19    15
2016-04-20    15
2016-04-21    15
2016-04-22    15
2016-04-23    15
              ..
2017-03-02    15
2017-03-03    15
2017-03-04    15
2017-03-05    15
2017-03-06    15
Name: 柜员号, Length: 322, dtype: int64

In [92]:
data[(data['日期'] == '2016-04-19') & (data['柜员号'] == 9049)]

              日期   柜员号    尾箱余额 在/离行 是否开启循环
878   2016-04-19  9049  484500   离行      是
4478  2016-04-19  9049  484500   离行      是

In [93]:
data['日期'].value_counts()

日期
2016-09-27    15
2016-09-29    15
2016-09-07    15
2016-09-06    15
2016-09-05    15
              ..
2017-03-31     1
2017-03-30     1
2017-03-29     1
2017-03-28     1
2017-05-23     1
Name: count, Length: 478, dtype: int64

In [94]:
atm_info['柜员号'].value_counts()

柜员号
9012    1
9003    1
9049    1
9025    1
9053    1
9077    1
9207    1
9200    1
9164    1
9008    1
9039    1
9622    1
9472    1
9490    1
Name: count, dtype: int64

In [95]:
14 * 400

5600

In [96]:
train_set = data.iloc[:-600, :]
test_set = data.iloc[-600:, :]

In [208]:
data.groupby('日期').count()['柜员号'].value_counts()

柜员号
15    322
14     78
1      78
Name: count, dtype: int64

In [107]:
_ = data.groupby('日期').count()['柜员号']
_[_ == 1]

日期
2017-03-07    1
2017-03-08    1
2017-03-09    1
2017-03-10    1
2017-03-11    1
             ..
2017-05-19    1
2017-05-20    1
2017-05-21    1
2017-05-22    1
2017-05-23    1
Name: 柜员号, Length: 78, dtype: int64

In [105]:
data[data['日期'] == '2016-04-19']['柜员号'].value_counts()

柜员号
9049    2
9012    1
9003    1
9025    1
9053    1
9077    1
9207    1
9200    1
9164    1
9008    1
9039    1
9622    1
9472    1
9490    1
Name: count, dtype: int64

In [106]:
data[(data['日期'] == '2016-04-19') & (data['柜员号'] == 9049)]

              日期   柜员号    尾箱余额 在/离行 是否开启循环
878   2016-04-19  9049  484500   离行      是
4478  2016-04-19  9049  484500   离行      是

In [111]:
data[data['日期'] == '2017-03-10']

              日期   柜员号    尾箱余额 在/离行 是否开启循环
5125  2017-03-10  9622  336500   离行      是

In [112]:
data[data['柜员号'] == 9622]

              日期   柜员号    尾箱余额 在/离行 是否开启循环
4800  2016-04-19  9622  114800   离行      是
4801  2016-04-20  9622  114700   离行      是
4802  2016-04-21  9622   83400   离行      是
4803  2016-04-22  9622   54500   离行      是
4804  2016-04-23  9622   87800   离行      是
...          ...   ...     ...  ...    ...
5195  2017-05-19  9622   92500   离行      是
5196  2017-05-20  9622  110600   离行      是
5197  2017-05-21  9622  110600   离行      是
5198  2017-05-22  9622  119500   离行      是
5199  2017-05-23  9622  279500   离行      是

[400 rows x 5 columns]

In [114]:
data['日期'].unique()

array(['2016-02-01', '2016-02-02', '2016-02-03', '2016-02-04',
       '2016-02-05', '2016-02-06', '2016-02-07', '2016-02-08',
       '2016-02-09', '2016-02-10', '2016-02-11', '2016-02-12',
       '2016-02-13', '2016-02-14', '2016-02-15', '2016-02-16',
       '2016-02-17', '2016-02-18', '2016-02-19', '2016-02-20',
       '2016-02-21', '2016-02-22', '2016-02-23', '2016-02-24',
       '2016-02-25', '2016-02-26', '2016-02-27', '2016-02-28',
       '2016-02-29', '2016-03-01', '2016-03-02', '2016-03-03',
       '2016-03-04', '2016-03-05', '2016-03-06', '2016-03-07',
       '2016-03-08', '2016-03-09', '2016-03-10', '2016-03-11',
       '2016-03-12', '2016-03-13', '2016-03-14', '2016-03-15',
       '2016-03-16', '2016-03-17', '2016-03-18', '2016-03-19',
       '2016-03-20', '2016-03-21', '2016-03-22', '2016-03-23',
       '2016-03-24', '2016-03-25', '2016-03-26', '2016-03-27',
       '2016-03-28', '2016-03-29', '2016-03-30', '2016-03-31',
       '2016-04-01', '2016-04-02', '2016-04-03', '2016-04-04',
       '2016-04-05', '2016-04-06', '2016-04-07', '2016-04-08',
       '2016-04-09', '2016-04-10', '2016-04-11', '2016-04-12',
       '2016-04-13', '2016-04-14', '2016-04-15', '2016-04-16',
       '2016-04-17', '2016-04-18', '2016-04-19', '2016-04-20',
       '2016-04-21', '2016-04-22', '2016-04-23', '2016-04-24',
       '2016-04-25', '2016-04-26', '2016-04-27', '2016-04-28',
       '2016-04-29', '2016-04-30', '2016-05-01', '2016-05-02',
       '2016-05-03', '2016-05-04', '2016-05-05', '2016-05-06',
       '2016-05-07', '2016-05-08', '2016-05-09', '2016-05-10',
       '2016-05-11', '2016-05-12', '2016-05-13', '2016-05-14',
       '2016-05-15', '2016-05-16', '2016-05-17', '2016-05-18',
       '2016-05-19', '2016-05-20', '2016-05-21', '2016-05-22',
       '2016-05-23', '2016-05-24', '2016-05-25', '2016-05-26',
       '2016-05-27', '2016-05-28', '2016-05-29', '2016-05-30',
       '2016-05-31', '2016-06-01', '2016-06-02', '2016-06-03',
       '2016-06-04', '2016-06-05', '2016-06-06', '2016-06-07',
       '2016-06-08', '2016-06-09', '2016-06-10', '2016-06-11',
       '2016-06-12', '2016-06-13', '2016-06-14', '2016-06-15',
       '2016-06-16', '2016-06-17', '2016-06-18', '2016-06-19',
       '2016-06-20', '2016-06-21', '2016-06-22', '2016-06-23',
       '2016-06-24', '2016-06-25', '2016-06-26', '2016-06-27',
       '2016-06-28', '2016-06-29', '2016-06-30', '2016-07-01',
       '2016-07-02', '2016-07-03', '2016-07-04', '2016-07-05',
       '2016-07-06', '2016-07-07', '2016-07-08', '2016-07-09',
       '2016-07-10', '2016-07-11', '2016-07-12', '2016-07-13',
       '2016-07-14', '2016-07-15', '2016-07-16', '2016-07-17',
       '2016-07-18', '2016-07-19', '2016-07-20', '2016-07-21',
       '2016-07-22', '2016-07-23', '2016-07-24', '2016-07-25',
       '2016-07-26', '2016-07-27', '2016-07-28', '2016-07-29',
       '2016-07-30', '2016-07-31', '2016-08-01', '2016-08-02',
       '2016-08-03', '2016-08-04', '2016-08-05', '2016-08-06',
       '2016-08-07', '2016-08-08', '2016-08-09', '2016-08-10',
       '2016-08-11', '2016-08-12', '2016-08-13', '2016-08-14',
       '2016-08-15', '2016-08-16', '2016-08-17', '2016-08-18',
       '2016-08-19', '2016-08-20', '2016-08-21', '2016-08-22',
       '2016-08-23', '2016-08-24', '2016-08-25', '2016-08-26',
       '2016-08-27', '2016-08-28', '2016-08-29', '2016-08-30',
       '2016-08-31', '2016-09-01', '2016-09-02', '2016-09-03',
       '2016-09-04', '2016-09-05', '2016-09-06', '2016-09-07',
       '2016-09-08', '2016-09-09', '2016-09-10', '2016-09-11',
       '2016-09-12', '2016-09-13', '2016-09-14', '2016-09-15',
       '2016-09-16', '2016-09-17', '2016-09-18', '2016-09-19',
       '2016-09-20', '2016-09-21', '2016-09-22', '2016-09-23',
       '2016-09-24', '2016-09-25', '2016-09-26', '2016-09-27',
       '2016-09-28', '2016-09-29', '2016-09-30', '2016-10-01',
       '2016-10-02', '2016-10-03', '2016-10-04', '2016-10-05',
       '2016-10-06', '2016-10-07', '2016-10-08', '2016-10-09',
       '2016-10-10', '2016-10-11', '2016-10-12', '2016-10-13',
       '2016-10-14', '2016-10-15', '2016-10-16', '2016-10-17',
       '2016-10-18', '2016-10-19', '2016-10-20', '2016-10-21',
       '2016-10-22', '2016-10-23', '2016-10-24', '2016-10-25',
       '2016-10-26', '2016-10-27', '2016-10-28', '2016-10-29',
       '2016-10-30', '2016-10-31', '2016-11-01', '2016-11-02',
       '2016-11-03', '2016-11-04', '2016-11-05', '2016-11-06',
       '2016-11-07', '2016-11-08', '2016-11-09', '2016-11-10',
       '2016-11-11', '2016-11-12', '2016-11-13', '2016-11-14',
       '2016-11-15', '2016-11-16', '2016-11-17', '2016-11-18',
       '2016-11-19', '2016-11-20', '2016-11-21', '2016-11-22',
       '2016-11-23', '2016-11-24', '2016-11-25', '2016-11-26',
       '2016-11-27', '2016-11-28', '2016-11-29', '2016-11-30',
       '2016-12-01', '2016-12-02', '2016-12-03', '2016-12-04',
       '2016-12-05', '2016-12-06', '2016-12-07', '2016-12-08',
       '2016-12-09', '2016-12-10', '2016-12-11', '2016-12-12',
       '2016-12-13', '2016-12-14', '2016-12-15', '2016-12-16',
       '2016-12-17', '2016-12-18', '2016-12-19', '2016-12-20',
       '2016-12-21', '2016-12-22', '2016-12-23', '2016-12-24',
       '2016-12-25', '2016-12-26', '2016-12-27', '2016-12-28',
       '2016-12-29', '2016-12-30', '2016-12-31', '2017-01-01',
       '2017-01-02', '2017-01-03', '2017-01-04', '2017-01-05',
       '2017-01-06', '2017-01-07', '2017-01-08', '2017-01-09',
       '2017-01-10', '2017-01-11', '2017-01-12', '2017-01-13',
       '2017-01-14', '2017-01-15', '2017-01-16', '2017-01-17',
       '2017-01-18', '2017-01-19', '2017-01-20', '2017-01-21',
       '2017-01-22', '2017-01-23', '2017-01-24', '2017-01-25',
       '2017-01-26', '2017-01-27', '2017-01-28', '2017-01-29',
       '2017-01-30', '2017-01-31', '2017-02-01', '2017-02-02',
       '2017-02-03', '2017-02-04', '2017-02-05', '2017-02-06',
       '2017-02-07', '2017-02-08', '2017-02-09', '2017-02-10',
       '2017-02-11', '2017-02-12', '2017-02-13', '2017-02-14',
       '2017-02-15', '2017-02-16', '2017-02-17', '2017-02-18',
       '2017-02-19', '2017-02-20', '2017-02-21', '2017-02-22',
       '2017-02-23', '2017-02-24', '2017-02-25', '2017-02-26',
       '2017-02-27', '2017-02-28', '2017-03-01', '2017-03-02',
       '2017-03-03', '2017-03-04', '2017-03-05', '2017-03-06',
       '2017-03-07', '2017-03-08', '2017-03-09', '2017-03-10',
       '2017-03-11', '2017-03-12', '2017-03-13', '2017-03-14',
       '2017-03-15', '2017-03-16', '2017-03-17', '2017-03-18',
       '2017-03-19', '2017-03-20', '2017-03-21', '2017-03-22',
       '2017-03-23', '2017-03-24', '2017-03-25', '2017-03-26',
       '2017-03-27', '2017-03-28', '2017-03-29', '2017-03-30',
       '2017-03-31', '2017-04-01', '2017-04-02', '2017-04-03',
       '2017-04-04', '2017-04-05', '2017-04-06', '2017-04-07',
       '2017-04-08', '2017-04-09', '2017-04-10', '2017-04-11',
       '2017-04-12', '2017-04-13', '2017-04-14', '2017-04-15',
       '2017-04-16', '2017-04-17', '2017-04-18', '2017-04-19',
       '2017-04-20', '2017-04-21', '2017-04-22', '2017-04-23',
       '2017-04-24', '2017-04-25', '2017-04-26', '2017-04-27',
       '2017-04-28', '2017-04-29', '2017-04-30', '2017-05-01',
       '2017-05-02', '2017-05-03', '2017-05-04', '2017-05-05',
       '2017-05-06', '2017-05-07', '2017-05-08', '2017-05-09',
       '2017-05-10', '2017-05-11', '2017-05-12', '2017-05-13',
       '2017-05-14', '2017-05-15', '2017-05-16', '2017-05-17',
       '2017-05-18', '2017-05-19', '2017-05-20', '2017-05-21',
       '2017-05-22', '2017-05-23'], dtype=object)

In [154]:
# 完全按照时间序列排列

for i, g in data.groupby('日期'):
    _ = g[g['柜员号'] == 9049]
    if _.shape[0] > 1:
        g = g.drop(_.index[-1])
    break

In [155]:
g[g['柜员号'] == 9049]

             日期   柜员号   尾箱余额 在/离行 是否开启循环
800  2016-02-01  9049  13900   离行      是

In [191]:
_ = g.drop(['日期'], axis=1).set_index('柜员号', drop=True).stack().reset_index()
_['new_index'] = _['level_1'] + '_' + _['柜员号'].astype(str)
_ = _.set_index('new_index').drop(['柜员号', 'level_1'], axis=1).T
_['日期'] = g['日期'].unique().item()
_

new_index,尾箱余额_9012,在/离行_9012,是否开启循环_9012,尾箱余额_9003,在/离行_9003,是否开启循环_9003,尾箱余额_9049,在/离行_9049,是否开启循环_9049,尾箱余额_9025,...,尾箱余额_9039,在/离行_9039,是否开启循环_9039,尾箱余额_9472,在/离行_9472,是否开启循环_9472,尾箱余额_9490,在/离行_9490,是否开启循环_9490,日期
0,600,在行,是,270200,在行,是,13900,离行,是,25500,...,221100,离行,否,72600,在行,是,555800,在行,是,2016-02-01

In [190]:
_.T

new_index,尾箱余额_9012,在/离行_9012,是否开启循环_9012,尾箱余额_9003,在/离行_9003,是否开启循环_9003,尾箱余额_9049,在/离行_9049,是否开启循环_9049,尾箱余额_9025,...,是否开启循环_9008,尾箱余额_9039,在/离行_9039,是否开启循环_9039,尾箱余额_9472,在/离行_9472,是否开启循环_9472,尾箱余额_9490,在/离行_9490,是否开启循环_9490
0,600,在行,是,270200,在行,是,13900,离行,是,25500,...,否,221100,离行,否,72600,在行,是,555800,在行,是
日期,2016-02-01,2016-02-01,2016-02-01,2016-02-01,2016-02-01,2016-02-01,2016-02-01,2016-02-01,2016-02-01,2016-02-01,...,2016-02-01,2016-02-01,2016-02-01,2016-02-01,2016-02-01,2016-02-01,2016-02-01,2016-02-01,2016-02-01,2016-02-01

array(['2016-02-01'], dtype=object)

In [176]:
pd.concat([_, _], axis=1)

                      0           1
柜员号
9012 日期      2016-02-01  2016-02-01
     尾箱余额           600         600
     在/离行            在行          在行
     是否开启循环           是           是
9003 日期      2016-02-01  2016-02-01
     尾箱余额        270200      270200
     在/离行            在行          在行
     是否开启循环           是           是
9049 日期      2016-02-01  2016-02-01
     尾箱余额         13900       13900
     在/离行            离行          离行
     是否开启循环           是           是
9025 日期      2016-02-01  2016-02-01
     尾箱余额         25500       25500
     在/离行            离行          离行
     是否开启循环           否           否
9053 日期      2016-02-01  2016-02-01
     尾箱余额        184300      184300
     在/离行            离行          离行
     是否开启循环           否           否
9077 日期      2016-02-01  2016-02-01
     尾箱余额         90500       90500
     在/离行            离行          离行
     是否开启循环           否           否
9207 日期      2016-02-01  2016-02-01
     尾箱余额         89400       89400
     在/离行            在行          在行
     是否开启循环           是           是
9200 日期      2016-02-01  2016-02-01
     尾箱余额        271300      271300
     在/离行            在行          在行
     是否开启循环           是           是
9164 日期      2016-02-01  2016-02-01
     尾箱余额        159800      159800
     在/离行            在行          在行
     是否开启循环           是           是
9008 日期      2016-02-01  2016-02-01
     尾箱余额        173300      173300
     在/离行            离行          离行
     是否开启循环           否           否
9039 日期      2016-02-01  2016-02-01
     尾箱余额        221100      221100
     在/离行            离行          离行
     是否开启循环           否           否
9472 日期      2016-02-01  2016-02-01
     尾箱余额         72600       72600
     在/离行            在行          在行
     是否开启循环           是           是
9490 日期      2016-02-01  2016-02-01
     尾箱余额        555800      555800
     在/离行            在行          在行
     是否开启循环           是           是

In [161]:
g

              日期   柜员号    尾箱余额 在/离行 是否开启循环
0     2016-02-01  9012     600   在行      是
400   2016-02-01  9003  270200   在行      是
800   2016-02-01  9049   13900   离行      是
1200  2016-02-01  9025   25500   离行      否
1600  2016-02-01  9053  184300   离行      否
2000  2016-02-01  9077   90500   离行      否
2400  2016-02-01  9207   89400   在行      是
2800  2016-02-01  9200  271300   在行      是
3200  2016-02-01  9164  159800   在行      是
3600  2016-02-01  9008  173300   离行      否
4000  2016-02-01  9039  221100   离行      否
5200  2016-02-01  9472   72600   在行      是
5600  2016-02-01  9490  555800   在行      是

In [131]:
new_index = []
for g['柜员号']

0       9012
400     9003
800     9049
1200    9025
1600    9053
2000    9077
2400    9207
2800    9200
3200    9164
3600    9008
4000    9039
4400    9049
5200    9472
5600    9490
Name: 柜员号, dtype: int64

In [133]:
g

              日期   柜员号    尾箱余额 在/离行 是否开启循环
0     2016-02-01  9012     600   在行      是
400   2016-02-01  9003  270200   在行      是
800   2016-02-01  9049   13900   离行      是
1200  2016-02-01  9025   25500   离行      否
1600  2016-02-01  9053  184300   离行      否
2000  2016-02-01  9077   90500   离行      否
2400  2016-02-01  9207   89400   在行      是
2800  2016-02-01  9200  271300   在行      是
3200  2016-02-01  9164  159800   在行      是
3600  2016-02-01  9008  173300   离行      否
4000  2016-02-01  9039  221100   离行      否
4400  2016-02-01  9049   13900   离行      是
5200  2016-02-01  9472   72600   在行      是
5600  2016-02-01  9490  555800   在行      是

In [118]:
g['柜员号'].value_counts()

柜员号
9049    2
9012    1
9003    1
9025    1
9053    1
9077    1
9207    1
9200    1
9164    1
9008    1
9039    1
9472    1
9490    1
Name: count, dtype: int64

In [143]:
g['柜员号'].value_counts()

柜员号
9049    2
9012    1
9003    1
9025    1
9053    1
9077    1
9207    1
9200    1
9164    1
9008    1
9039    1
9472    1
9490    1
Name: count, dtype: int64

In [158]:
import pandas as pd

# 创建带有两级索引的DataFrame
df = pd.DataFrame({'A': [1, 2, 3, 4],
                   'B': [5, 6, 7, 8],
                   'C': [9, 10, 11, 12]},
                  index=pd.MultiIndex.from_tuples([('Group1', 'Index1'),
                                                   ('Group1', 'Index2'),
                                                   ('Group2', 'Index3'),
                                                   ('Group2', 'Index4')]))

df

               A  B   C
Group1 Index1  1  5   9
       Index2  2  6  10
Group2 Index3  3  7  11
       Index4  4  8  12

In [159]:
# 合并两级索引为一级索引
df.reset_index(inplace=True)
df

  level_0 level_1  A  B   C
0  Group1  Index1  1  5   9
1  Group1  Index2  2  6  10
2  Group2  Index3  3  7  11
3  Group2  Index4  4  8  12

In [195]:
for i, sub_df in data.groupby('柜员号'):
    print(sub_df)
    break

             日期   柜员号    尾箱余额 在/离行 是否开启循环
400  2016-02-01  9003  270200   在行      是
401  2016-02-02  9003  270200   在行      是
402  2016-02-03  9003  262500   在行      是
403  2016-02-04  9003  108300   在行      是
404  2016-02-05  9003  428700   在行      是
..          ...   ...     ...  ...    ...
795  2017-03-02  9003   90500   在行      是
796  2017-03-03  9003  266200   在行      是
797  2017-03-04  9003  243300   在行      是
798  2017-03-05  9003  251200   在行      是
799  2017-03-06  9003  212100   在行      是

[400 rows x 5 columns]

In [197]:
sub_df

             日期   柜员号    尾箱余额 在/离行 是否开启循环
400  2016-02-01  9003  270200   在行      是
401  2016-02-02  9003  270200   在行      是
402  2016-02-03  9003  262500   在行      是
403  2016-02-04  9003  108300   在行      是
404  2016-02-05  9003  428700   在行      是
..          ...   ...     ...  ...    ...
795  2017-03-02  9003   90500   在行      是
796  2017-03-03  9003  266200   在行      是
797  2017-03-04  9003  243300   在行      是
798  2017-03-05  9003  251200   在行      是
799  2017-03-06  9003  212100   在行      是

[400 rows x 5 columns]

In [215]:
data[data['柜员号'] != 9622].drop_duplicates().groupby('日期').count()['柜员号'].value_counts()

柜员号
13    400
Name: count, dtype: int64

In [218]:
data[data['柜员号'] != 9622].drop_duplicates().to_csv('../data/preprocessed/no_dup_13_series.csv', index=False)

In [213]:
data[data['柜员号'] == 9622]

              日期   柜员号    尾箱余额 在/离行 是否开启循环
4800  2016-04-19  9622  114800   离行      是
4801  2016-04-20  9622  114700   离行      是
4802  2016-04-21  9622   83400   离行      是
4803  2016-04-22  9622   54500   离行      是
4804  2016-04-23  9622   87800   离行      是
...          ...   ...     ...  ...    ...
5195  2017-05-19  9622   92500   离行      是
5196  2017-05-20  9622  110600   离行      是
5197  2017-05-21  9622  110600   离行      是
5198  2017-05-22  9622  119500   离行      是
5199  2017-05-23  9622  279500   离行      是

[400 rows x 5 columns]

In [202]:
data.set_index('日期').set_index('柜员号', append=True)

                   尾箱余额 在/离行 是否开启循环
日期         柜员号
2016-02-01 9012     600   在行      是
2016-02-02 9012  504000   在行      是
2016-02-03 9012  467300   在行      是
2016-02-04 9012  382200   在行      是
2016-02-05 9012  298700   在行      是
...                 ...  ...    ...
2017-03-02 9490  163300   在行      是
2017-03-03 9490  215500   在行      是
2017-03-04 9490  241100   在行      是
2017-03-05 9490  266400   在行      是
2017-03-06 9490  244300   在行      是

[6000 rows x 3 columns]