In [1]:
import os
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('../data/preprocessed/no_dup_13_series.csv')
data.head()

           日期   柜员号    尾箱余额 在/离行 是否开启循环
0  2016-02-01  9012     600   在行      是
1  2016-02-02  9012  504000   在行      是
2  2016-02-03  9012  467300   在行      是
3  2016-02-04  9012  382200   在行      是
4  2016-02-05  9012  298700   在行      是

In [3]:
new_data = pd.DataFrame()
for i, g in data.groupby('日期'):
    _ = g.drop(['日期', '在/离行', '是否开启循环'], axis=1).set_index('柜员号', drop=True).stack().reset_index()
    _['new_index'] = _['level_1'] + '_' + _['柜员号'].astype(str)
    _ = _.set_index('new_index').drop(['柜员号', 'level_1'], axis=1).T
    _['日期'] = g['日期'].unique().item()
    new_data = pd.concat([
        new_data,
        _
    ], axis=0)
# new_data.index = range(new_data.shape[0])
new_data = new_data.set_index('日期', drop=True).reset_index()
new_data.head()

new_index,日期,尾箱余额_9012,尾箱余额_9003,尾箱余额_9049,尾箱余额_9025,尾箱余额_9053,尾箱余额_9077,尾箱余额_9207,尾箱余额_9200,尾箱余额_9164,尾箱余额_9008,尾箱余额_9039,尾箱余额_9472,尾箱余额_9490
0,2016-02-01,600,270200,13900,25500,184300,90500,89400,271300,159800,173300,221100,72600,555800
1,2016-02-02,504000,270200,456500,617000,159500,56500,42700,227900,87900,173300,227300,101600,145800
2,2016-02-03,467300,262500,306500,565400,154100,66900,195900,136600,121300,169600,250300,75100,234600
3,2016-02-04,382200,108300,293200,529500,259800,421400,285400,14300,96600,139700,140300,49000,300700
4,2016-02-05,298700,428700,293200,543600,288300,432400,298800,487100,266400,194000,152900,307900,580300

In [4]:
train_set = new_data.iloc[:-20]
test_set = new_data.iloc[-20:]

train_set.to_csv(os.path.join('../data/13series_time_stacked_cash', 'train.csv'), index=False)
test_set.to_csv(os.path.join('../data/13series_time_stacked_cash', 'test.csv'), index=False)

train_set.shape, test_set.shape

((380, 14), (20, 14))

In [17]:
pd.merge(train_set['日期'], data, on='日期', how='left').to_csv('../data/preprocessed/train.csv', index=False)
pd.merge(test_set['日期'], data, on='日期', how='left').to_csv('../data/preprocessed/test.csv', index=False)

In [10]:
data

              日期   柜员号    尾箱余额 在/离行 是否开启循环
0     2016-02-01  9012     600   在行      是
1     2016-02-02  9012  504000   在行      是
2     2016-02-03  9012  467300   在行      是
3     2016-02-04  9012  382200   在行      是
4     2016-02-05  9012  298700   在行      是
...          ...   ...     ...  ...    ...
5195  2017-03-02  9490  163300   在行      是
5196  2017-03-03  9490  215500   在行      是
5197  2017-03-04  9490  241100   在行      是
5198  2017-03-05  9490  266400   在行      是
5199  2017-03-06  9490  244300   在行      是

[5200 rows x 5 columns]

In [9]:
test_set['日期']

380    2017-02-15
381    2017-02-16
382    2017-02-17
383    2017-02-18
384    2017-02-19
385    2017-02-20
386    2017-02-21
387    2017-02-22
388    2017-02-23
389    2017-02-24
390    2017-02-25
391    2017-02-26
392    2017-02-27
393    2017-02-28
394    2017-03-01
395    2017-03-02
396    2017-03-03
397    2017-03-04
398    2017-03-05
399    2017-03-06
Name: 日期, dtype: object